﻿<!DOCTYPE html>
@inject SignInManager<UsuarioAplicacion> SignInManager

<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<link href="~/css/sitio.css" rel="stylesheet" />
		<script src="~/lib/jquery/jquery.js"></script>
		<script src="~/lib/twitter-bootstrap/css/bootstrap.css"></script>
		<script src="~/lib/jquery-validate/jquery.validate.js"></script>
		<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		<environment include="Development">
			<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet"/>
		</environment>

		<environment exclude="Development">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
				integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
				crossorigin="anonymous"
				href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
				asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.css"
				asp-fallback-test-class="sr-only"
				asp-fallback-test-property="position"
				asp-fallback-test-value="absolute"
				asp-suppress-fallback-integrity="true">
		</environment>

		<title>@ViewBag.Title</title>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
				<a class="navbar-brand" asp-controller="home" asp-action="index">
					<img src="~/images/fotoEjemplo.jpg" width="30" height="30" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" asp-controller="home" asp-action="index">Listado</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="home" asp-action="create">Crear</a>
						</li>

						@if	(SignInManager.IsSignedIn(User) && User.IsInRole("Administrador") || User.IsInRole("Dios"))
						{
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Gestion
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" asp-controller="Administracion"
										asp-action="ListaUsuarios">Usuarios</a>
									<a class="dropdown-item" asp-controller="Administracion"
										asp-action="ListaRoles">Roles</a>	
								</div>
							</li>
						}

							<li class="nav-item">
								<a class="nav-link" asp-controller="Cuentas" asp-action="CambiarPassword">Cambiar Password</a>
							</li>
					</ul>

					<ul class="navbar-nav ml-auto">
						@if (SignInManager.IsSignedIn(User))
						{
							<li class="nav-item">
								<form method="post" asp-controller="Cuentas" asp-action="CerrarSesion">
									<button type="submit" style="width:auto" class="nav-link btn btn-link py-0">
										Logout @User.Identity.Name
									</button>
								</form>
							</li>
						}
						else
						{
							<li class="nav-item">
								<a class="nav-link" asp-controller="Cuentas" asp-action="Registro">Registro</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-controller="Cuentas" asp-action="Login">Login</a>
							</li>
						}
					</ul>
				</div>
			</nav>

			<div>
				@RenderBody()
			</div>

			@RenderSection("Scripts", required:false)
		</div>
	</body>
</html>
