﻿@model CrearAmigoModelo
@{
	ViewBag.Title = "Nuevo Amigo";

}

<form asp-controller="Home" asp-action="Create" method="post" class="m-2" enctype="multipart/form-data">

	<div asp-validation-summary="All" class="text-danger"></div>

	<div class="form-group row">
		<label asp-for="Nombre" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<input asp-for="Nombre" class="form-control" placeholder="Nombre"/>
			<span asp-validation-for="Nombre" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group row">
		<label asp-for="Email" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<input asp-for="Email" class="form-control" placeholder="E-mail"/>
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group row">
		<label asp-for="Ciudad" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<select asp-for="Ciudad" class="custom-select mr-sm-2" asp-items="Html.GetEnumSelectList<Provincia>()">
				<option value="">Seleccione uno</option>
			</select>
			<span asp-validation-for="Ciudad" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group row">
		<label asp-for="Foto" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<div class="custom-file">
				<input asp-for="Foto" class="form-control custom-file-input">
				<label class="custom-file-label">Selecciona un fichero</label>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary">Nuevo</button>
		</div>
	</div>

	@section Scripts {
		<script>
		$(document).ready(function () {
			$('.custom-file-input').on("change", function () {
				var fileName = $(this).val().split("\\").pop();
				$(this).next('.custom-file-label').html(fileName);
			});
		});
		</script>
	}

</form>
