﻿@model DetallesView

@{
	ViewBag.Title = "Detalles Amigos";

	var rutaFoto = "~/images/" + (Model.amigo.rutaFoto ?? "fotoEjemplo.jpg");
}
	<div class="row justify-content-center m-3">
		<div class="col-sm-8">
			<div class="card">
				<div class="card-header">
					<h1>@Model.amigo.Nombre</h1>
				</div>

				<div class="card-body text-center">
					<img class="card-img-top" src="@rutaFoto" asp-append-version="true" />

					<h4>Amigo ID : @Model.amigo.Id</h4>
					<h4>Email: @Model.amigo.Email</h4>
					<h4>Ciudad: @Model.amigo.Ciudad</h4>

				</div>

				<div class="card-footer text-center">
					<a href="#" class="btn btn-primary">Volver</a>
					<a href="#" class="btn btn-primary">Editar</a>
					<a href="#" class="btn btn-danger">Borrar</a>
				</div>
			</div>
		</div>
	</div>

	@section Scripts
	{
		<script src="~/js/MiScript.js"></script>
	}

