﻿@model EditarAmigoModelo
@{
	ViewBag.Title = "Nuevo Amigo";
	var rutaFoto = "~/images/" + (Model.rutaFotoExistente ?? "fotoEjemplo.jpg");

}

<form asp-controller="Home" asp-action="Edit" method="post" class="mt-3" enctype="multipart/form-data">

	<div asp-validation-summary="All" class="text-danger"></div>

	<input hidden asp-for="Id"/>
	<input hidden asp-for="rutaFotoExistente"/>

	<div class="form-group row">
		<label asp-for="Nombre" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<input asp-for="Nombre" class="form-control" placeholder="Name"/>
			<span asp-validation-for="Nombre" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group row">
		<label asp-for="Email" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<input asp-for="Email" class="form-control" placeholder="Email"/>
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group row">
		<label asp-for="Ciudad" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<select asp-for="Ciudad" class="custom-select mr-sm-2" asp-items="Html.GetEnumSelectList<Provincia>()">
				<option value="">Seleccione uno</option>
			</select>
			<span asp-validation-for="Ciudad" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group row">
		<label asp-for="Foto" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<div class="custom-file">
				<input asp-for="Foto" class="form-control custom-file-input">
				<label class="custom-file-label">Click para modificar la imagen</label>
			</div>
		</div>
	</div>

	<div class="form-group row col-sm-4 offset-4">
		<img class="imageThmbnail" src="@rutaFoto" asp-append-version="true"/>
	</div>

	<div class="form-group row">
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary">Editar</button>
			<a asp-action="index" asp-controller="home" class="btn btn-primary">Volver</a>
		</div>
	</div>

	@section Scripts {
		<script>
		$(document).ready(function () {
			$('.custom-file-input').on("change", function () {
				var fileName = $(this).val().split("\\").pop();
				$(this).next('.custom-file-label').html(fileName);
			});
		});
		</script>
	}

</form>