﻿@model IEnumerable<Amigo>

@{
	ViewBag.Title = "Índice Amigos";
}
	<div class="card-deck">
		@foreach (var amigo in Model)
		{
			var rutaFoto = "~/images/" + (amigo.rutaFoto ?? "fotoEjemplo.jpg");
			<div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
				<div class="card-header">
					<h3>@amigo.Nombre</h3>
				</div>
				<img class="card-img-top" src="@rutaFoto" asp-append-version="true"/>
				<div class="card-footer text-center">
					<a asp-controller="home" asp-action="details" asp-route-id=@amigo.IdEncriptado class="btn btn-primary m-1">Ver</a>
					<a asp-controller="home" asp-action="edit" asp-route-id="@amigo.Id" class="btn btn-primary m-1">Editar</a>
					<a href="#" class="btn btn-danger">Borrar</a>
				</div>
			</div>
		}
	</div>
	
