﻿<div class="text-center">
	<h1 class="text-danger">Acceso Denegado</h1>
	<h6 class="text-danger">No tienes permisos para ver este recurso</h6>
	<img src="~/images/c7afb13e-54fa-4155-9993-e21ab3afd4bf_Ludacris.webp" style="height:400px; width:600px"/>
</div>
