﻿@model CambioPasswordViewModel

<h2>Cambiar Password</h2>
<hr />
<div class="row">
	<div class="col-md-12">
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="PasswordActual"></label>
				<input asp-for="PasswordActual" class="form-control" />
				<span asp-validation-for="PasswordActual" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="NuevaPassword"></label>
				<input asp-for="NuevaPassword" class="form-control" />
				<span asp-validation-for="NuevaPassword" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ConfirmarPassword"></label>
				<input asp-for="ConfirmarPassword" class="form-control" />
				<span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary" style="width:auto">Actualizar</button>
		</form>
	</div>
</div>
