﻿@using Ejemplo1ASP.ViewModels
@model LoginViewModelo

@{
	ViewBag.Title = "Login de usuario";
}

<div class="row">
	<div class="col-md-6">
		<h1>Login de usuario</h1>
		<hr/>
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Password"></label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label asp-for="Recuerdame">
						<input asp-for="Recuerdame"/>
						@Html.DisplayNameFor(m => m.Recuerdame)
					</label>
				</div>				
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div>

	<div class="col-md-6">
		<h1>Login Externo</h1>
		<hr />
		@{
			if (Model.LoginExternos.Count == 0){
				<div>No hay logins externos configurados</div>
			}
			else
			{
				<form method="post" asp-action="LoginExterno" asp-route-returnUrl="@Model.UrlRetorno">
					<div>
						@foreach (var provider in Model.LoginExternos)
						{
							<button type="submit" class="btn btn-primary" name="proveedor" value="@provider.Name"
							title="Logar usando @provider.DisplayName cuenta" style="width:auto">
								@provider.DisplayName
							</button>
						}
					</div>
				</form>
			}
		}
	</div>
	<div>
		<a asp-action="OlvidoPassword">¿Olvidó la Password?</a>
	</div>
</div>
