﻿@model ResetPassViewModel

<h2>Resetear Password</h2>
<hr/>
<div class="row">
	<div class="col-md-12">
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<input asp-for="Token" type="hidden"/>
			<input asp-for="Email" type="hidden"/>
			<div class="form-group">
				<label asp-for="Password"></label>
				<input asp-for="Password" class="form-control"/>
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ConfirmPassword"></label>
				<input asp-for="ConfirmPassword" class="form-control"/>
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary" style="width:auto">Resetear</button>
		</form>
	</div>
</div>
