﻿@using Ejemplo1ASP.ViewModels
@model List<UsuarioRolModelo>

@{
	var roleId = ViewBag.roleId;
}

<form method="post">
	<div class="card">
		<div class="card-header">
			<h2>Agregar o borrar usuarios a este rol</h2>
		</div>
		<div class="card-body">
			@for (var i = 0; i < Model.Count; i++)
			{
				<div class="form-check m-1">
					<input type="hidden" asp-for="@Model[i].UsuarioId"/>
					<input type="hidden" asp-for="@Model[i].UsuarioNombre"/>
					<input asp-for="@Model[i].EstaSeleccionado" class="form-check-input" />
					<label class="form-check-label" asp-for="@Model[i].EstaSeleccionado">
						@Model[i].UsuarioNombre
					</label>
				</div>
			}
		</div>
		<div class="card-footer">
			<input type="submit" value="Actualizar" class="btn btn-primary" style="width:auto"/>
			<a asp-action="EditarRol" asp-route-id="@roleId" class="btn btn-primary" style="width:auto">
				Cancelar
			</a>
		</div>
	</div>
</form>
