﻿@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@inject IAuthorizationService authorizationService;

@{
	ViewBag.Title = "Listado de roles";
}
	<h1>Listado de roles</h1>

@if	(Model.Any()){
	<a class="btn btn-primary mb-3" style="width:auto" asp-action="CrearRol"
	asp-controller="Administracion">Crear nuevo rol</a>

	foreach (var role in Model)
	{
		<div class="card mb-3">
			<div class="card-header">
				Role Id : @role.Id
			</div>
			<div class="card-body">
				<h5 class="card-title">@role.Name</h5>
			</div>
			<div class="card-footer">
				<form method="post" asp-action="BorrarRol" asp-route-id="@role.Id">

					@if ((await authorizationService.AuthorizeAsync(User, "EditarRolPolicy")).Succeeded)
					{
					<a asp-action="EditarRol" asp-controller="Administracion"
						asp-route-id="@role.Id" class="btn btn-primary">Editar</a>
					}

					<span id="confirmBorrarSpan_@role.Id" style="display:none">
						<span>Seguro que quieres borrar?</span>
						<button type="submit" class="btn btn-danger">Si</button>
						<a href="#" class="btn btn-primary"
							onclick="confirmBorrar('@role.Id', false)">No</a>
					</span>

					<span id="BorrarSpan_@role.Id">
						<a href="#" class="btn btn-danger"
						onclick="confirmBorrar('@role.Id', true)">Borrar</a>
					</span>
				</form>
			</div>
		</div>
	}
}
else
{
	<div class="card">
		<div class="card-header">
			Todavia no hay roles creados
		</div>
		<div class="card-body">
			<h5 class="card-title">
				Usa este boton para crear un rol
			</h5>
			<a class="btn btn-primary" style="width:auto"
				asp-controller="Administracion" asp-action="CrearRol">
				Crear Rol
			</a>
		</div>
	</div>
}

@section Scripts {
	<script src="~/js/MiScript.js"></script>
}