﻿@using Ejemplo1ASP.ViewModels
@model IEnumerable<UsuarioAplicacion>

@{
	ViewBag.Title = "Todos los usuarios";
}
	
	<h1>Todos los usuarios</h1>

@if (Model.Any()){
	<a asp-action="Registro" asp-controller="Cuentas"
		class="btn btn-primary mb-3" style="width:auto">
		Nuevo Usuario
	</a>	

	foreach (var user in Model)
	{
		<div class="card mb-3">
			<div class="card-header">
				User Id : @user.Id
			</div>
			<div class="card-body">
				<h5 class="card-title">@user.UserName</h5>
			</div>
			<div class="card-footer">
				<form method="post" asp-action="BorrarUsuario" asp-route-id="@user.Id">
					<a asp-action="EditarUsuario" asp-controller="Administracion"
						asp-route-id="@user.Id" class="btn btn-primary">Editar</a>

					<span id="confirmBorrarSpan_@user.Id" style="display:none">
						<span>Seguro que quieres borrar?</span>
						<button type="submit" class="btn btn-danger">Si</button>
						<a href="#" class="btn btn-primary"
							onclick="confirmBorrar('@user.Id', false)">No</a>
					</span>

					<span id="BorrarSpan_@user.Id">
						<a href="#" class="btn btn-danger"
						onclick="confirmBorrar('@user.Id', true)">Borrar</a>
					</span>
				</form>
			</div>
		</div>
	}
}
else 
{
	<div class="card">
		<div class="card-header">
			Todavia no hay usuarios
		</div>
		<div class="card-body">
			<h5 class="card-title">
				Usa el boton para crear un usuario
			</h5>
			<a class="btn btn-primary" style="width:auto"
				asp-controller="Cuentas" asp-action="Registro">
				Nuevo Usuario
			</a>
		</div>
	</div>
}

@section Scripts {
	<script src="~/js/MiScript.js"></script>
}